* {
  box-sizing: border-box;
}
body,ul,li,h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
a:active,
a:hover {
  outline: 0;
}
img {
  max-width: 100%;
  display: block;
}