.card-list {
  list-style: none;
}

.card {
  width: 300px; 
  border: 1px solid white;
  overflow: hidden;
}


.card img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}


.card a {
  text-decoration: none; 
  color: #007E7A; 
  display: block; 
  padding: 16px; 
}


.card h2 {
  font-size: 20px;
  margin: 0 0 8px; 
}
