.searchBar{
  margin: 60px;
  padding: 0px;
}

.searchBar {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 width: 100%;
}

.searchCamp {
  padding-left: 20px;
  padding-right: 50%;
}

.searchCamp {
  border: none;
  outline: none;
}

input:hover::placeholder{
  color: #555555;
}
.searchIcon{
  width: 60px;
  height: 60px;
}

button{
  background: none;
  border: none;
}


.searchCamp,
.searchCamp::placeholder {
  height: 1.5rem;
  font-size: 25px;
  font-family: Vale Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol;
}

